.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: linear-gradient(to right, rgb(223, 130, 138), rgb(179, 111, 169), rgb(105, 104, 164), rgb(101, 161, 156));
    color: white;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.headerTitleContainer {
    height: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.headerLogo {
    height: 2rem;
    width: auto;
}

.headerTitle {
    margin-left: 0.5rem;
    font-weight: 600;
}

.navItem {
    margin: 0.5rem 0; /* Add a margin of 0.5rem above and below each item */
}

.headerNavListContainer {
    display: none; /* Initially hidden */
    flex-direction: column;
    position: absolute;
    top: 2.7rem;
    right: 0;
    width: auto; /* Change width to auto */
    background-color: white; /* Set the navigation list background color to white */
    padding: 1rem; /* Add inner padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a light shadow */
    z-index: 100;
}

.headerNavListContainer.show {
    display: flex; /* Show when toggled */
}

.headerNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.headerNavPageLink {
    padding: 1rem;
    text-align: right;
    color: black;
    text-decoration: none;
    opacity: 0.75;
    width: 100%; /* Set width to 100% */
    font-size: 1rem;
}

.headerNavPageLinkActive {
    padding: 1rem;
    text-align: right;
    color: black;
    text-decoration: none;
    opacity: 1;
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in size calculation */
    font-size: 1rem;
    background-color: lightgray; /* Set background color to a slightly different color */
    border-radius: 4px;
}

.navButton {
    padding: 8px 16px; /* Button padding */
    background-color: transparent; /* Set button background color to transparent */
    color: white; /* Button text color */
    border-radius: 4px; /* Round the button corners */
    text-align: center; /* Center the text */
    text-decoration: none; /* Disable text decoration */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 1rem; /* Font size */
    font-weight: bold; /* Bold text */
}

.navButton:hover {
    background-color: darkblue; /* Background color on hover */
    color: white; /* Text color on hover */
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavLeftMargin {
    display: none;
}

.microsoftLogo,
.githubLogo {
    display: none;
}

.menuToggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: auto;
}

.loginMenuContainer {
    display: flex;
    align-items: center;
    gap: 0; /* Ensure no gap between login button and menu toggle */
}

@media (min-width: 992px) {
    .headerTitle {
        font-weight: 600;
    }

    .headerNavListContainer {
        display: flex; /* Always display on larger screens */
        flex-direction: row;
        background-color: transparent; /* Set background to transparent on larger screens */
        position: static; /* Static positioning */
        width: auto; /* Auto width */
        box-shadow: none; /* Remove shadow */
    }

    .headerNavList {
        flex-direction: row; /* Horizontal alignment */
        align-items: center; /* Align to center */
    }

    .navItem {
        margin: 0 1rem; /* Add a margin of 1rem to the left and right of each item */
    }

    .headerNavPageLink,
    .headerNavPageLinkActive {
        border-bottom: none;
        padding: 0;
        display: block;
        text-align: center; /* Align to center on larger screens */
    }

    .headerNavPageLink:hover {
        opacity: 1;
    }

    .headerNavPageLinkActive {
        color: white;
        background-color: transparent; /* Set background color to the same as the header */
        font-weight: bold; /* Bold when active on larger screens */
    }

    .headerNavLeftMargin {
        margin-left: 1.25rem;
        display: block;
    }

    .headerRightText {
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
    }

    .githubLogo,
    .microsoftLogo {
        height: 1.25rem;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
    }

    .menuToggle {
        display: none;
    }
}
